<h1>Here are all your lists!</h1>

<% @lists.each do |list| %>

<p><%=link_to list.name, list_path(list)%><br> <%=button_to "X", list_delete_path(list), method: "DELETE" %></p>

<% end %>
<%=button_to "Add a new List!", new_list_path %>