<h1>All To-do Lists</h1>

<ul>
  <% @todolists.each do |todo| %>
    <li>
      <%= link_to todo.title, todolist_path(todo) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new list", new_todolist_path %>
</div>