<h1>New Item</h1>

<%= form_for Item.new do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.text_field :desc, :placeholder => "Description" %>
  <%= f.submit "Make Item" %>
<% end %>