<h1>Todo</h1>

<ul>
<% @lists.each do |list| %>
<li><%= list %> | <%= link_to 'Edit', edit_list_path(list) %> | <%= link_to 'Delete', list, method: :destroy, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>

<%= link_to 'New Todo', new_list_path %>