<h1>To-Do App</h1>

<% @items.each do |item| %>
<h2><%= item.title %></h2>
<p><%= item.content %></p>
<p><%= link_to "Show to-do", item_path(item) %>
<% end %>
<p>
<%= link_to "Add a to-do", new_item_path %>
</p>