<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do List</title>
</head>
<body>
  <ul>
    <% @todos.each do |todo| %>
    <%= todo.task %> <%= link_to "Edit this Item", edit_todo_path(todo) %>
    <% end %>
  </ul>
<%= link_to "Add a ToDo?", new_todo_path %>
</body>
</html>